.primary{
    padding: 0.75em 1em;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 4px;
    appearance: none;
    border: none;
    background-color: var(--cont1);
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    line-height:1.5;
      display: inline-block;
  
     
 
}
.primary-variant-2 {
    padding: 0.5em 1em;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 4px;
    appearance: none;
    border: none;
       background-color: var(--dark1);
       color: var(--grey1);
          cursor: pointer;
           line-height:1.3;
             display: inline-block;

}
.secondary-variant-1 {
    padding: 0.25em 0.5em;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    border-radius: 4px;
    appearance: none;
    border: 1px solid hsla(218, 100%, 65%, 0.5);
    background-color:unset;
    color: var(--cont1);
       cursor: pointer;
        line-height:1.3;
        display: inline-block;
        font-weight: 500;
          &:hover {
            background-color: rgba(25, 118, 210, 0.04);
            border: 1px solid var(--cont1);
          }

}
.secondary-variant-2 {
  padding: 0.25em 0.5em;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  border-radius: 4px;
  appearance: none;
  border: 1px solid hsla(38, 0%, 10%, 0.5);
  background-color: unset;
  color: var(--dark1);
  cursor: pointer;
  line-height: 1.3;
  display: inline-block;
  font-weight: 500;

  &:hover {
    background-color: rgba(25, 118, 210, 0.04);
    border: 1px solid var(--dark1);
  }

}

.link{
   font-size: 1rem;
   text-transform: uppercase;
   letter-spacing: 0.05em;
   position: relative;
   line-height: 1.3;
   display: inline-block;
   font-weight: 500;
     color: var(--cont4);
     &::after{
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: -4px;
       border-bottom:1px solid var(--cont4);
       content: '';
     }

     &:hover{
         color: var(--cont2);
     }
}
.submitting{
  opacity: 0.5;
}