footer{
    padding: 1em;
    background-color: var(--dark1);
    max-width: 480px;
    color: var(--grey4);
    .logo--section{
        justify-content: flex-start;
     
    }
    .top--one{
           .body {
               color: var(--pastel);
               font-style: italic;
               margin: 0.5em 0;
           }
    }

    .sub{
            color: var(--grey4);

    }
    .body{
        color: var(--cont1);
    }
    a{
       
        padding: 8px 0;
    }
    article{
        padding: 12px;
    }
    .social--media{
       a{
            display: grid;
            grid-template-columns: auto 15px;
            width: 100px;
            gap: 4px;
            align-items: center;
       }
    }
}
.mail--links {
    a{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}
.attribution{
  a{
      display: grid;
      grid-template-columns: 1fr 15px;
      width: 200px;
      &:nth-of-type(2){
          width: 170px;
      }

  }

  div{
      a{
          width: 100px;
          gap: 8px;
            &:nth-of-type(2) {
                width: 100px;
            }
      }
  }
}