.form--overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 480px;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 14000;
    display: grid;
    justify-items: center;
    grid-auto-rows: min-content 600px;
}


form {
    margin: 1em 0;
    background-color: #fff;
    padding: 1em;
    max-width: 375px;
    width: 100%;
    opacity: 0;

    position: relative;

    h3 {
        margin: 0;
        padding: 0 16px;
    }

    p {
        padding: 0 16px;
        font-size: 0.8rem;
        letter-spacing: 0.04em;
    }

    article {
        padding: 0.8em;
    }


}

.success-form {
    opacity: 1;
    min-height: 510px;
 .body{
     margin: 1em;
     text-align: center;
 }
}

.form--control {
    display: grid;
    grid-template-columns: repeat (1, 1fr);
    gap: 10px;


}

#close--button {
    position: absolute;
    top: 5px;
    right: 5px;
    appearance: none;
    border: none;
    background-color: unset;
    cursor: pointer;
}

input {
    width: 100%;
    appearance: none;
    border: none;
    outline: 1px solid rgba($color: #000000, $alpha: 0.3);
    height: 30px;
    padding-left: 1em;

    &:focus {
        outline: 2px solid var(--cont1);
    }
}

textarea {
    height: 100px;
    appearance: none;
    border: none;
    outline: 1px solid rgba($color: #000000, $alpha: 0.3);
    resize: none;

    &:focus {
        outline: 2px solid var(--cont1);
    }
}

#fileUpload {
    padding: 0.5em;
    font-size: 0.8rem;
}

#submit {
    width: 100%;
}

#file {
    display: none;
}

.grow {
    animation: grow 0.4s ease-in-out 0.2s forwards;


    article {
        animation: opa 0.4s ease-in-out 0.4s forwards
    }
}

@keyframes grow {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
        opacity: 1;
    }
}

@keyframes opa {
    0% {
        opacity: 0;

    }

    100% {

        opacity: 1;
    }
}

#heartin,
#heartin_6,
#heartin_5,
#heartin_4,
#heartin_3,
#heartin_2,
#heartin_1 {
    opacity: 0;
    transform: scale(0) translateY(10px);
    transition: transform 0.4s ease-in;
    animation: heart 0.4s ease-in forwards;
    transform-origin: center;
}

#big--heart {
    opacity: 0;
    transform: scale(0) translateY(10px);
    transition: transform 0.4s ease-in;
    animation: heart 0.4s ease-in forwards, beat 1.5s ease-in infinite 0.5s both;
    transform-origin: center;
    
}

@keyframes heart {
    0% {
        opacity: 0;
        transform: scale(0) translateY(10px);

    }

    100% {

        opacity: 1;
        transform: scale(1) translateY(0);
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2021-2-8 17:16:3
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@keyframes beat {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
    }

    10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
    }

    17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
    }

    33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
    }

    45% {
        transform: scale(1);
        animation-timing-function: ease-out;
    }
}
