header {
    padding: 48px 16px;
    max-width: 480px;


}

.hero--section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    article {
        h1 {
            max-width: 220px;
        }

        h2 {
            max-width: 320px;
        }

        button {
            @include box-shadow-4;
            @include flex-1;

            svg{
                margin-left: 0.5em;
            }



            &:hover {
                background-color: var(--contH);
            }
        }
    }
}

.hero--img{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-auto-rows: 80px;
    gap: 1.5rem;
    margin: 2em 0;

   figure{
       width: 80px;
       height: 80px;
        img {
            border-radius: 50%;
            object-fit: cover;
        }
   }

}
.about--header {
    background: url(../bg/head3.PNG);
    height: 50vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
margin-bottom: 3em;
    display: grid;
    position: relative;


   
}
.overflow {
    background-color: #ffffff;
    max-width: 375px;
    @include box-special;
    place-self: center;
   
 position: absolute;
 top: 150px;
 left:20px;
 right: 20px;

 
  
    .video {
        position: relative;
        padding: 56.25% 0 0 0;

    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
       
    }

    
}
