header {
    padding: 48px 16px;
    max-width: 480px;


}

.hero--section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    article {
        h1 {
            max-width: 220px;
        }

        h2 {
            max-width: 320px;
        }

        button {
            @include box-shadow-4;

            &:hover {
                background-color: var(--cont3);
            }
        }
    }
}

.hero--img{
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-auto-rows: 80px;
    gap: 1.5rem;

   figure{
       width: 80px;
       height: 80px;
        img {
            border-radius: 50%;
            object-fit: cover;
        }
   }

}