header {
    padding: 48px 16px;
    max-width: 480px;


}

.hero--section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;

    .hero--text{
        display: flex;
        flex-direction: column;
    }

    article {
        h1 {
            max-width: 220px;
        }

        h2 {
            max-width: 320px;
        }

        #section--contact {
           display: flex;
           justify-content: flex-start;
           align-items: center;
           align-self: flex-start;
   

            svg{
                margin-left: 4px;
                vertical-align: middle;
                fill: #ffffff;
                width: 19px;
                height: 19px;

            }



            &:hover {
                background-color: var(--contH);
            }
        }
    }
}



.about--header {
    background: url(../bg/head3.PNG);
    height: 50vh;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 3em;
    display: grid;
    position: relative;



}

.overflow {
    background-color: #ffffff;
    max-width: 375px;
    @include box-special;
    place-self: center;

    position: absolute;
    top: 150px;
    left: 20px;
    right: 20px;



    .video {
        position: relative;
        padding: 56.25% 0 0 0;

    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

    }


}

