main {
    max-width: 480px;
    margin: 58px 0;
}

.section--one,
.section--two,
.section--three,
.section--four,
.section--five,
.about--section,
.team--section,
.card--section,
.table--section,
.error--page {
    padding: 1.5em 1em;
}
.error--page{
     /* background by SVGBackgrounds.com */
    max-width:480px;
background-color: #3f3d56;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3Ccircle stroke='%235852b7' vector-effect='non-scaling-stroke' id='a' fill='none' stroke-width='1.1' r='315'/%3E%3Cuse id='f' href='%23a' stroke-dasharray='100 100 100 9999'/%3E%3Cuse id='b' href='%23a' stroke-dasharray='250 250 250 250 250 9999'/%3E%3Cuse id='e' href='%23a' stroke-dasharray='1000 500 1000 500 9999'/%3E%3Cuse id='g' href='%23a' stroke-dasharray='1500 9999'/%3E%3Cuse id='h' href='%23a' stroke-dasharray='2000 500 500 9999'/%3E%3Cuse id='j' href='%23a' stroke-dasharray='800 800 800 800 800 9999'/%3E%3Cuse id='k' href='%23a' stroke-dasharray='1200 1200 1200 1200 1200 9999'/%3E%3Cuse id='l' href='%23a' stroke-dasharray='1600 1600 1600 1600 1600 9999'/%3E%3C/defs%3E%3Cg transform='translate(1000 750)' stroke-opacity='0.73'%3E%3Cg %3E%3Ccircle fill='%235852b7' fill-opacity='0.73' r='10'/%3E%3Cg transform=''%3E%3Cuse href='%23f' transform='scale(.1) rotate(50 0 0)' /%3E%3Cuse href='%23f' transform='scale(.2) rotate(100 0 0)' /%3E%3Cuse href='%23f' transform='scale(.3) rotate(150 0 0)' /%3E%3C/g%3E%3Cg transform=''%3E%3Cuse href='%23b' transform='scale(.4) rotate(200 0 0)' /%3E%3Cuse href='%23z' transform='scale(.5) rotate(250 0 0)' /%3E%3C/g%3E%3Cg id='z' transform=''%3E%3Cg transform=''%3E%3Cuse href='%23b'/%3E%3Cuse href='%23b' transform='scale(1.2) rotate(90 0 0)' /%3E%3Cuse href='%23b' transform='scale(1.4) rotate(60 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.6) rotate(120 0 0)' /%3E%3Cuse href='%23e' transform='scale(1.8) rotate(30 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg id='y' transform=''%3E%3Cg transform=''%3E%3Cuse href='%23e' transform='scale(1.1) rotate(20 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.3) rotate(-40 0 0)' /%3E%3Cuse href='%23g' transform='scale(1.5) rotate(60 0 0)' /%3E%3Cuse href='%23h' transform='scale(1.7) rotate(-80 0 0)' /%3E%3Cuse href='%23j' transform='scale(1.9) rotate(100 0 0)' /%3E%3C/g%3E%3C/g%3E%3Cg transform=''%3E%3Cg transform=''%3E%3Cg transform=''%3E%3Cuse href='%23h' transform='scale(2) rotate(60 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.1) rotate(120 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.3) rotate(180 0 0)'/%3E%3Cuse href='%23h' transform='scale(2.4) rotate(240 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.5) rotate(300 0 0)'/%3E%3C/g%3E%3Cuse href='%23y' transform='scale(2) rotate(180 0 0)' /%3E%3Cuse href='%23j' transform='scale(2.7)'/%3E%3Cuse href='%23j' transform='scale(2.8) rotate(45 0 0)'/%3E%3Cuse href='%23j' transform='scale(2.9) rotate(90 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.1) rotate(135 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.2) rotate(180 0 0)'/%3E%3C/g%3E%3Cuse href='%23k' transform='scale(3.3) rotate(225 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.5) rotate(270 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.6) rotate(315 0 0)'/%3E%3Cuse href='%23k' transform='scale(3.7)'/%3E%3Cuse href='%23k' transform='scale(3.9) rotate(75 0 0)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
background-attachment: fixed;
background-repeat: no-repeat;
background-size: cover;
    background-position: center;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat (1,1fr );
    place-content: center;

article{
    text-align: center;
    margin-top: 1.5em;
}



h1, .sub{
    color: #ffffff;
    max-width: 336px;
}
}

.section--two {
   

    article {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

        p {
            background-color: var(--grey4);
            color: var(--cont1);
            border-radius: 50px;
            padding-left: 1em;
            font-size: 1rem;
        }
    }

    .body {
       margin-top: 1em;
    }
}
.figure {
    margin: 1.5em 0;
    padding: 0.8em;
    background-color: var(--grey4);

}
.Illustration{
    margin-top: 2.5em;
}

.cards {
    display: grid;
    grid-template-columns: repeat(1, 300px);
    background-color: var(--grey4);
    padding: 1em;
    gap: 1rem;
    place-content: center;

    article {
        background-color: #ffffff;
        padding: 0.8em;
        @include box-shadow-4;

        h3 {
            margin: 0;
        }
    }
}


   #section--contact {
        margin: 1em 0;

    }


.table {

    article {
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 1rem;
        border: 1px solid var(--grey2);
        padding: 0.8em;
        margin: 1em 0;
        background-color: #ffffff;

        &:hover {
            background-color: var(--grey4);
        }

        p {
            margin: 0;
        }

        .type {
            color: var(--cont1);
        }

    }
}
.gallery{
    background-color: var(--grey4);
 
        padding: 1em;
  
}
.methods{
    display: grid;
    grid-template-columns: repeat(1, 300px);
    gap: 1rem;
    place-content: center;
    article{
        background-color: #ffffff;
        border-radius: 8px;
        img{
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }

        p{
            padding: 0 1em;
        }
      
    }
}
.teams{
    display: grid;
    grid-template-columns: repeat(1, 300px );
    place-content: center;
    gap: 1rem;


    figure{
        @include flex-1;
    }
    .sub{
        margin:  0;
        text-align: center
    }
    .body{
          text-align: center;
    }

  }

  .about--main{
      article{
          padding: 1em;
      }
      #section--contact {
          margin-left: 1em;
      }
  }

@import './Form';

@import './Svgani';
@import './Floating';
@import './Articles';