:root{
    --base: hsl(38, 100%, 65%);
      --shade: hsl(38, 100%, 74%);



    //greys
      --grey1: hsl(38, 14%, 89%);
      --grey2: hsl(38, 21%, 96%);
      --grey3: hsl(38, 0%, 96%);
      --grey4: hsl(38, 9%, 98%);

      //black
           --dark1: hsl(38, 0%, 10%);
           --dark2: hsl(38, 5%, 10%);
           --dark3: hsl(38, 5%, 15%);
           --dark4: hsl(38, 10%, 20%);
           --dark5: hsl(38, 5%, 35%);

           //cont
             --cont1: hsl(218, 100%, 65%);
             --cont2: hsl(218, 100%, 65%);
             --cont3: hsl(218, 47%, 35%);
               --contH: hsl(218, 47%, 45%);
                 --contHv: hsl(218, 47%, 15%);
             --cont4: hsl(218, 96%, 79%);

        //pastel
            --pastel: hsl(51, 100%, 79%);
            
           

       
}  
                       