@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,500;0,700;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');
@import './normalize';
@import './reset';
@import './Pallette';
@import './Typography';
@import './default';
@import './Button';
@import './uti';
@import './nav';
@import './Header';
@import './Main';
@import './Footer';